@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 1;
}


@model List<Course>

<a class="btn btn-warning mb-3" href="/Student/ShowStudents">
    <i class="bi bi-pencil"></i> main menu
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var crs in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@crs.Name</td>
                <td> </td>

                <td>

                    <a class="btn btn-danger btn-sm me-2" href="/Student/AddCourse?CNO=@crs.Cno">
                        <i class="bi bi-trash"></i> Add
                    </a>
            

@*                     <a href="/Student/AddCourse?CNO=@crs.Cno">ADD</a> |
                    <a href="/Student/DeleteCourse?CNO=@crs.Cno">Delete</a> 
 *@
                </td>
            </tr>
        }

    </tbody>
</table>