@{
    ViewData["Title"] = "Home Page";
}

<section class="h-100 bg-dark">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-3">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 90%; height: 95%;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-4 text-black">
                                <h3 class="mb-4 text-uppercase text-center">WELCOME</h3>
                                <!-- Link container -->
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                   
                                    <a href="/Student/ShowStudents" class="btn btn-warning btn-lg my-5 w-75">All Students</a>
                                    <a href="/Student/Add" class="btn btn-warning btn-lg my-5 w-75">Add Student</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
